{% extends "job/base.html" %}
{% load static %}

{% block title %}
<title>{{ page_title }} </title>
{% endblock %}

{% block projects %}

<section id="projects" class="bg-white mb-3">
    <div class="container">
        {{ page_obj|length }} статьи найдены.
        <div class="row justify-content-center">
            {% for project in page_obj %}
            <div class="col-md-4 mb-4 mx-auto">
                <div class="card h-100">
                    {% if project.photo_set %}
                    <div id="carouselArticle{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for photo in project.photo_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ photo.image.url }}" class="d-block w-100 img-fluid fixed-height" alt="...">
                            </div>
                            {% endfor %}
                        </div>

                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselArticle{{ forloop.counter }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                                class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselArticle{{ forloop.counter }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span> <span
                                class="visually-hidden">Next</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="photo">
                        <img src="{% static 'job/images/default-image.jpg' %}"
                             alt="Фото по умолчанию" class="img-fluid" style="object-fit: cover;">
                    </div>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title"><a href="#">
                            {{ project.title }}</a></h5>
                        <p class="card-text">{{ project.body|truncatewords:30 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if posts.has_other_pages %}
        {% include "pagination.html" with page=posts %}
    {% endif %}
</section>


{% endblock %}