{% extends "job/base.html" %}
{% load static %}

{% block about %}

<div class="container mt-5">
    <h1 class="mb-4"></h1>
    <div class="row">

        <div class="col-md-4 mx-auto">
            <img src="/media/products/wall_painting_1920.jpg" class="img-fluid" alt="...">
        </div>

        <div class="col-md-8 mx-auto">
            <p class="mb-3 text-indent">
                Наша компания «Маляр Групп», работая на строительном рынке с 2013 года, сумела доказать свой профессионализм и высокое качество выполнения работ. Штат наших сотрудников состоит из маляров, штукатуров, альпинистов и других профильных специалистов, которые способны выполнить любую, даже самую сложную задачу.
            </p>
            <p class="mb-3 text-indent">
                Наши бригады, в состав которых, как правило, входят два маляра, за 8-ми часовой рабочий день способны окрасить до 1500 м. кв. Окраска осуществляется при помощи безвоздушного распылителя, благодаря чему снижается образование опыла. Причем данный метод окраски позволяет значительно снизить не только расход материала, но и стоимость услуг.
            </p>
            <p class="mb-3 text-indent">
                Работаем используя профессиональное оборудование <a href="https://www.graco.com/ru/ru.html" target="_blank" rel="noopener noreferrer">Graco</a> —
                производитель с мировым именем, компания
                разрабатывает и внедряет новые технологии обработки поверхностей.
            </p>
            <p class="mb-3 text-indent">
                На сайте вы можете ознакомиться с технологией и рассчитать количество материалов, получить бесплатную консультацию специалиста. Он же поможет составить смету и договор. Мы стараемся сделать весь процесс быстрым и удобным. Изучите наш каталог и отправьте ваш запрос или свяжитесь с нами по телефону для консультации.
            </p>
        </div>
    </div>
</div>




{% endblock %}