{% extends "job/base.html" %}{% load job_tags %}

{% block content %}

    <section id="services" class="bg-light py-2">
        <div class="container">
            <div class="container mt-5">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            {% if post.photo %}
                            <p><img class="d-block w-100" src="{{post.photo.url}}"></p>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                                <a href="{{ post.get_absolute_url }}" class="btn btn-primary"
                                   style="background-color:#035199; border-color:#035199;">Узнать больше</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

