{% extends "job/base.html" %}
{% load job_tags %}


{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <h1> {{ post.title }}</h1>
    <p class="date">
        Опубликовано {{ post.publish }} {{ post.author }}
    </p>

    {% if post.photo %}
        <p><img class="img-article-left" src="{{post.photo.url}}"></p>
    {% endif %}

    {{ post.body|markdown }}

    <p>
        <a href="{% url 'job:post_share' post.id%}">
            Поделиться постом
        </a>
    </p>

    <h2>Похожие посты</h2>
    {% for post in similar_posts %}
    <p>
        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
    </p>
    {% empty %}
    Здесь пока нет похожих постов
    {% endfor %}

    {% with comments.count as total_comments %}
    <h2> {{ total_comments}} {{ total_comments|pluralize}}</h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                comment {{forloop.counter}} by {{comment.name}}
                {{comment.created}}
            </p>
            {{comment.body|linebreaks}}
        </div>
        {% empty %}
    <p>Здесь нет комментариев</p>
    {%endfor%}
    {% include "job/post/includes/comment_form.html" %}
{% endblock  %}