{% extends "job/base.html" %}
{% load static %}

{% block meta_description %}{{meta_description}}{% endblock %}
{% block about %}

<div class="container mt-4">
    <h1 class="mb-3"></h1>
    <div class="row">

        <div class="col-md-4 mx-auto">
            <div class="d-flex flex-column gap-2">
                <img src="/static/job/images/wall_painting_1920.jpg" class="img-fluid w-100 mb-2" alt="...">
                <img src="/static/job/images/IMG_9436.JPG" class="img-fluid w-100 mb-2" alt="...">
                <img src="/static/job/images/IMG_2551.JPG" class="img-fluid w-100" alt="...">
            </div>
        </div>


        <div class="col-md-8 mx-auto">
            <p class="mb-3 text-indent">
                Ключевым фактором качественной покраски является тщательная подготовка поверхности. Если основание
                загрязнено, повреждено или имеет рыхлую структуру, итоговое покрытие вряд ли будет долговечным. Именно
                поэтому мы используем проверенные методы очистки и подготовки, чтобы обеспечить идеальную основу для
                нанесения покрытий, которые будут не только надежно держаться, но и выглядеть безупречно. Ошибки в
                подготовке или покраске приводят к дополнительным затратам и выходу за рамки бюджета проекта, поэтому мы
                всегда гарантируем высокое качество работы с первого раза.</p>
            <p class="mb-3 text-indent">
                <img class="custom-image img-fluid" style='height: 30px;' src="{% static 'job/images/MG.png' %}"
                     alt="Маляр Групп"> — промышленный подрядчик по покраске, который с 2013 года
                успешно работает на строительном
                рынке. Наша компания придаёт особое значение подготовке поверхностей, используя разные методы в
                зависимости от специфики каждого проекта. В арсенале наших специалистов — высоко-напорная гидроструйная
                очистка, пескоструйная обработка, химическая и механическая очистка, а также другие современные
                технологии.</p>
            <p class="mb-3 text-indent">
                Опытная команда <img class="custom-image img-fluid" style='height: 30px;' src="{% static 'job/images/MG.png' %}"
                     alt="Маляр Групп"> точно знает, какой метод нанесения краски или покрытия подойдет в каждой
                конкретной ситуации. Мы специализируемся на безвоздушном распылении краски, но всегда тщательно
                подбираем оптимальный метод под каждую задачу. Наши бригады работают на промышленных объектах по всему
                Красноярскому краю, выполняя как внутренние работы в труднодоступных местах, так и наружную покраску на
                высоте.</p>
            <p class="mb-3 text-indent">
                Штат компании включает маляров, штукатуров, промышленных альпинистов и других профильных специалистов.
                Мы беремся за задачи любой сложности: например, наши бригады, обычно состоящие из двух маляров, способны
                окрасить до 1500 м² поверхности за одну 8-часовую смену.</p>
            <p class="mb-3 text-indent">
                На нашем сайте вы можете ознакомиться с применяемыми технологиями, рассчитать количество материалов и
                получить бесплатную консультацию специалиста, который поможет составить смету и договор. Мы стремимся
                сделать процесс работы быстрым и удобным для вас. Ознакомьтесь с нашим каталогом услуг и материалов или
                свяжитесь с нами по телефону для консультации.</p>
        </div>
    </div>
</div>

{% endblock %}