{% extends "job/base.html" %}
{% load job_tags %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block content %}
    <section id="category" class="content-section content-section--white">
        <div class="container ">
            <div class="row card-list justify-content-center">
                {% for post in page_obj %}
                    <div class="card-list__item card-list__item--stretch">
                        <div class="card card-list__card">
                            {% if post.photo %}
                                <p>
                                    <img class="card-list__image img-fluid fixed-height"
                                         src="{{ post.photo.url }}"
                                         alt="фото услуги">
                                </p>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-reset">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h5>
                                <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if page_obj.has_other_pages %}
            {% include "pagination.html" with page=posts %}
        {% endif %}
    </section>
{% endblock %}
