{% extends "job/base.html" %}
{% load job_tags %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block content %}
    <section id="category" class="bg-white py-3">
        <div class="container ">
            <div class="row justify-content-center">
                {% for post in page_obj %}
                    <div class="col-md-4 mb-4 d-flex align-items-stretch">
                        <div class="card h-100">
                            {% if post.photo %}
                                <p>
                                    <img class="d-block w-100 img-fluid fixed-height"
                                         src="{{ post.photo.url }}">
                                </p>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-reset">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h5>
                                <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if page_obj.has_other_pages %}
            {% include "pagination.html" with page=posts %}
        {% endif %}
    </section>
{% endblock %}
