{% extends "job/base.html" %}
{% load static %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block contact %}
<h1 class="visually-hidden">{{ title }}</h1>
{% include "job/post/includes/callback.html" %}
<div class="container contacts-info">
    <div class="row contacts-info__row">
        <div class="col-12 col-lg-8">
            <div class="ratio ratio-16x9 contacts-map">
                <iframe
                        id="mapFrame"
                        title="Карта проезда к офису Маляр Групп"
                        src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_api_key }}&amp;q=МАЛЯР+ГРУПП,Krasnoyarsk+Russia"
                        class="contacts-map__frame"
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>

                <img src="{% static 'job/images/Google_map.png' %}"
                     alt="Карта недоступна"
                     id="mapFallback"
                     class="fallback-img d-none">
            </div>
        </div>
    </div>
</div>

<script nonce="{{ request.csp_nonce }}">
    document.addEventListener("DOMContentLoaded", function() {
        const iframe = document.getElementById("mapFrame");
        const fallback = document.getElementById("mapFallback");

        // Если карта не загрузилась 3 секунды — показываем заглушку
        setTimeout(() => {
            // Проверяем, загрузилось ли содержимое iframe
            if (!iframe.contentWindow || iframe.contentWindow.length === 0) {
                iframe.classList.add("d-none");
                fallback.classList.remove("d-none");
            }
        }, 3000);
    });
</script>

{% endblock %}
