{% extends "job/base.html" %}
{% load static %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block contact %}
    <div class="container bg-white">{% include "job/post/includes/callback.html" %}</div>
    <div class="container text-center mb-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-5 justify-content-md-center">
                <iframe width="500"
                        height="350"
                        frameborder="0"
                        style="border:0;
                               border-radius: 10px"
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_api_key }}&q=МАЛЯР+ГРУПП,Krasnoyarsk+Russia"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="col-lg-7 position-relative">
                <div class="position-absolute top-0 start-0">
                    <h3>Наш адрес и контакты</h3>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="fs-4">660011 , Россия, Красноярский край,</li>
                        <li class="fs-4">г.Красноярск ул. Кипрейная, д. 11</li>
                        <li class="fs-4 fw-bold">
                            <a href="tel:+73912516747">+7 (391) 251-67-47</a>
                        </li>
                        <li class="fs-4">
                            <a href="mailto:mgrup24@mail.ru">mgrup24@mail.ru</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
