{% extends "job/base.html" %}
{% load static %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block contact %}
{% include "job/post/includes/callback.html" %}
<div class="container mb-5">
    <div class="row justify-content-around justify-content-md-center">

        <!-- ЛЕВЫЙ СТОЛБЕЦ: карта / заглушка -->
        <div class="col-12 col-lg-5">
            <div class="ratio ratio-16x9 rounded-10 overflow-hidden position-relative">

                <iframe
                        id="mapFrame"
                        src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_api_key }}&q=МАЛЯР+ГРУПП,Krasnoyarsk+Russia"
                        class="border-0 w-100 h-100 position-absolute top-0 start-0"
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>

                <img src="{% static 'job/images/Google_map.png' %}"
                     alt="Карта недоступна"
                     id="mapFallback"
                     class="fallback-img d-none">
            </div>
        </div>

        <!-- ПРАВЫЙ СТОЛБЕЦ: контакты -->
        <div class="col-12 col-lg-5 text-center mt-2 mt-md-5">
            <h3 class="text-uppercase">наш адрес и контакты</h3>

            <ul class="list-unstyled">
                <li class="fs-4">660011 , Россия, Красноярский край,</li>
                <li class="fs-4">г.Красноярск ул. Кипрейная, д. 11</li>
                <li class="fs-4 fw-bold">
                    <a href="tel:+73912516747">+7 (391) 251-67-47</a>
                </li>
                <li class="fs-4">
                    <a href="mailto:mgrup24@mail.ru">mgrup24@mail.ru</a>
                </li>
            </ul>
        </div>

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const iframe = document.getElementById("mapFrame");
        const fallback = document.getElementById("mapFallback");

        // Если карта не загрузилась 3 секунды — показываем заглушку
        setTimeout(() => {
            // Проверяем, загрузилось ли содержимое iframe
            if (!iframe.contentWindow || iframe.contentWindow.length === 0) {
                iframe.classList.add("d-none");
                fallback.classList.remove("d-none");
            }
        }, 3000);
    });
</script>

{% endblock %}
