{% extends "job/base.html" %}
{% load job_tags %}
{% block title %}Search{% endblock %}
{% block content %}
    {% if query %}
        <h1>Посты содержат "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}Найдены {{ total_results }} результат(-а){% endwith %}
        </h3>
        {% for post in results %}
            <h4>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h4>
            {{ post.body|markdown|truncatewords_html:12 }}
        {% empty %}
            <p>Нет результатов запроса</p>
        {% endfor %}
        <p>
            <a href="{% url 'job:post_search' %}">Искать снова</a>
        </p>
    {% else %}
        <h1>Поиск для постов</h1>
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    {% endif %}
{% endblock %}
