{% extends "job/base.html" %}
{% load job_tags %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block content %}
    <h1>Посты с тегом "{{ tag.name }}"</h1>
    <section id="tag" class="content-section content-section--muted">
        <div class="container">
            <div class="container tag-results">
                <div class="row card-list">
                    {% for post in posts %}
                        <div class="card-list__item">
                            <div class="card card-list__card">
                                {% if post.photo %}
                                    <p>
                                        <img class="card-list__image" src="{{ post.photo.url }}" alt="фото услуги">
                                    </p>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                                    <a href="{{ post.get_absolute_url }}"
                                       class="btn btn-brand">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Нет постов с этим тегом.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
