{% extends "job/base.html" %}
{% load job_tags %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block content %}
    <h1>Посты с тегом "{{ tag.name }}"</h1>
    <section id="tag" class="bg-light py-3">
        <div class="container">
            <div class="container mt-5">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                {% if post.photo %}
                                    <p>
                                        <img class="d-block w-100" src="{{ post.photo.url }}">
                                    </p>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                                    <a href="{{ post.get_absolute_url }}"
                                       class="btn btn-primary"
                                       style="background-color:#035199;
                                              border-color:#035199">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Нет постов с этим тегом.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
