{% extends "job/base.html" %}
{% load static %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block vacancies %}
    <h4 class="text-center mt-1 mb-2 mt-md-4 mb-md-4">
        Мы ищем талантливых специалистов в команду. Присоединяйтесь к
        нам!
    </h4>
    <div class="row gx-5 mx-1 mx-md-5">
        <div class="col-12 col-md-6 mb-2">
            <div class="custom-card">
                <div class="custom-card-body">
                    <h5 class="custom-card-title">
                        <img src="{% static 'job/images/painter.png' %}"
                             alt="картинка маляра"
                             class="custom-card-icon">
                        Маляр антикоррозийных работ
                    </h5>
                    <p class="custom-card-text"></p>
                    <strong>Описание:</strong>
                    <hr>
                    <ul>
                        <li>Работа на пескоструйных установках, на аппаратах безвоздушной покраски</li>
                        <li>Работа на высоте (строительные леса)</li>
                        <li>Соблюдение правил ТБ и ОТ</li>
                        <li>Соблюдение правил по покраске металлоконструкций</li>
                    </ul>
                    <p class="custom-card-text"></p>
                    <strong>Требования:</strong>
                    <hr>
                    <ul>
                        <li>Образование среднее, среднее специальное</li>
                        <li>Опыт работы 1-2 года</li>
                    </ul>
                    <p class="custom-card-text"></p>
                    <strong>Условия:</strong>
                    <hr>
                    <ul>
                        <li>Официальное трудоустройство</li>
                        <li>Стабильная заработная плат</li>
                        <li>Вахтовый метод работы</li>
                        <li>Проезд от места проживания до места работы и обратно</li>
                        <li>Питание</li>
                        <li>Предоставляется полный комплект СИЗ</li>
                    </ul>
                    <a href="#application-form" class="btn button transparent">Откликнуться</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="custom-card">
                <div class="custom-card-body">
                    <h5 class="custom-card-title">
                        <img src="{% static 'job/images/painter.png' %}"
                             alt="картинка маляра"
                             class="custom-card-icon">
                        Пескоструйщик
                    </h5>
                    <p class="custom-card-text"></p>
                    <strong>Описание:</strong>
                    <hr>
                    <ul>
                        <li>Работа на пескоструйных установках, на аппаратах безвоздушной покраски</li>
                        <li>Работа на высоте (строительные леса)</li>
                        <li>Соблюдение правил ТБ и ОТ</li>
                        <li>Соблюдение правил по покраске металлоконструкций</li>
                    </ul>
                    <p class="custom-card-text"></p>
                    <strong>Требования:</strong>
                    <hr>
                    <ul>
                        <li>Образование среднее, среднее специальное</li>
                        <li>Опыт работы 1-2 года</li>
                    </ul>
                    <p class="custom-card-text"></p>
                    <strong>Условия:</strong>
                    <hr>
                    <ul>
                        <li>Официальное трудоустройство</li>
                        <li>Стабильная заработная плат</li>
                        <li>Вахтовый метод работы</li>
                        <li>Проезд от места проживания до места работы и обратно</li>
                        <li>Питание</li>
                        <li>Предоставляется полный комплект СИЗ</li>
                    </ul>
                    <a href="#application-form" class="btn button transparent">Откликнуться</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
