# Python-related
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
new_env/
mgvenv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.sqlite3
db.sqlite3-journal
local_settings.py
settings_local.py
config.json

# Migrations (keep __init__.py)
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Static and media files (if collected separately)
staticfiles/
static_root/
collected_static/
uploads/
media/CACHE/
media/
readme.md

# Dependency-related
*.egg-info/
dist/
build/

# Development and IDE-related
.idea/
.idea/**/dbnavigator.xml
.vscode/
.spyderproject
.spyproject
.ropeproject
.ipynb_checkpoints

# Test and coverage reports
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Type checkers and static analysis
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# PyInstaller
*.spec

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
docker-compose.override.yml

# Logs and cache
logs/
debug.log
*.swp
*.swo
*.swn
.cache

# Ignore SQLite if using PostgreSQL or another DB
mgrupsite/db.sqlite3

# Ignore compiled translations
*.mo
*.pot

