aiofiles==24.1.0
aiogram==3.17.0
aiohttp==3.10.11
aiosignal==1.3.2
annotated-types==0.7.0
asgiref==3.8.1
async-timeout==5.0.1
attrs==24.3.0
Brotli==1.1.0
Django==4.2.11
django-appconf==1.0.6
django-bootstrap-v5==1.0.11
django-ckeditor==6.7.1
django-imagekit==5.0.0
django-js-asset==3.0.1
django-taggit==5.0.1
django-taggit-labels==0.7.0
environs==14.1.0
frozenlist==1.5.0
gunicorn==23.0.0
magic-filter==1.0.12
Markdown==3.6
multidict==6.1.0
packaging==24.2
pilkit==3.0
pillow==11.1.0
pipdeptree==2.24.0
propcache==0.2.1
psycopg2-binary==2.9.9
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
whitenoise==6.8.2
yarl==1.18.3
boto3==1.38.21
django-storages==1.14.6