Django==4.2.11
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1

django-bootstrap-v5==1.0.11
django-ckeditor==6.7.1
django-imagekit==5.0.0
django-taggit==5.0.1
django-taggit-labels==0.7.0

environs==14.1.0
gunicorn==23.0.0
whitenoise==6.8.2

pillow==11.1.0
psycopg2-binary==2.9.9
requests==2.32.3
Markdown==3.6

boto3==1.38.21
django-storages==1.14.6
marshmallow==3.21.1