.data-input {
  max-width: 400px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  overflow: hidden;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Общие стили для элементов внутри input-group */
.data-input .form-control,
.data-input .input-group-text {
  border: none;
  box-shadow: none;
}

/* Стили поля */
.data-input .form-control:not(textarea) {
  background-color: #fff;
  color: #000;
  border-left: none;
  border-radius: 0 0.375rem 0.375rem 0;
  font-size: 1rem;
  padding: 0.375rem 0.1rem;
}


/* Подсветка при фокусе */
.data-input .form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
  outline: none;
}

/* Подсветка всей группы при фокусе */
.data-input:focus-within {
  border: 1px solid #0d6efd;
  border-radius: 0.375rem;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

/* Стили иконки */
.data-input .input-group-text {
  border-right: none;
  border-radius: 0.375rem 0 0 0.375rem;
  color: #000;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}

.data-input .input-group-text i {
  width: 0.5rem;
  padding-right: 0.3rem;
  text-align: center;
}

/* Текстовые области (textarea) */
.data-input textarea.form-control {
  width: 100%;
  min-height: 150px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  resize: vertical;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}


.data-input textarea.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
  outline: none;
}

/* Секция контактов */
#contacts .visually-hidden {
  position: absolute;
  left: -9999px;
}

#contacts .text-blocks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

#contacts .block {
  margin-bottom: 1rem;
  padding: 20px;
  text-align: center;
  width: 500px;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contacts .block-left {
  margin-left: 100px;
  background-color: var(--color-secondary);
}

#contacts .block-right {
  background-color: var(--color-accent);
  color: #fff;
}

#contacts .block > p {
  font-size: 1.2rem;
}
