.logo-font {
    font-family:var(--font-family-logo);
    font-size: var(--font-size-h4);
    line-height: 1;
    vertical-align: baseline;
}

.info-font {
    font-family:var(--font-family-menu);
    font-size: var(font-size-x-small);
    font-weight: var(font-weight-bold);
    color: var(--color-secondary);
}

.main-title {
    font-size: 128px;
    background: transparent;
    color:#31B787;
}


.cuprum-bold {
    font-family: 'Cuprum', sans-serif;
    font-size: 116px;
    font-weight: bold;
}

.main-statement {
    font-size: var(--font-size-h2);
}

/* фото на главной странице */
.image.main_photo {
    width: 100%; /* Full-width container */
    height: 600px; /* Set desired height for the background */
    background-image: url('/static/job/images/IMG_1713.webp');
    background-size: cover; /* Ensures image covers the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    color: #1c1c1c;
}

@media (min-width: 576px) and (max-width: 991.98px) {
      .main-title {
      font-size: 80px;
    }

    .cuprum-bold {
        font-family: 'Cuprum', sans-serif;
        font-size: 70px;
        font-weight: bold;
    }

    .main-statement {
        font-size: var(--font-size-base);
    }
}

@media (max-width: 575.98px) {
    .main-title {
        font-size: 64px;
    }

    .cuprum-bold {
        font-family: 'Cuprum', sans-serif;
        font-size: 58px;
        font-weight: bold;
    }

    .main-statement {
        font-size: var(--font-size-small);
    }

    .image.main_photo {
        width: 100vw;
        height: calc(100vw * 2 / 3); /* пропорция 3:2 */
        object-fit: cover;
        object-position: center top; /* или просто center */
        display: block;
    }
}

/* мягкая тень на главной странице */
.soft-shadow {
  text-shadow: 0px 20px 20px #83919C;
}

/* about */
.text-indent {
        text-indent: 30px; /* Задаем отступ для красной строки */
    }




