/* Стили для кнопки поиска */
.search {
    border: 2px solid #FFD700;
    color: #FFD700;
    padding 0px 0px;
    display: flex;
    align-items: center; /* Центрируем содержимое по вертикали */
    justify-content: center; /* Центрируем содержимое по горизонтали */
}

.search:hover {
    opacity: 1; /* Полностью видимая кнопка при наведении */
    background-color: transparent;
    color: #FFD700;
    border: 2px solid #FFD700;
}

.search:active {
    transform: scale(0.95); /* Легкое уменьшение при нажатии */
    opacity: 0.7; /* Прозрачность 0.7 при нажатии */
    background-color: transparent;
    color: #FFD700 !important; /* Цвет текста остается золотым */
    border: 2px solid #FFD700; /* Граница остается золотой */
}

/* Стили для поля ввода у кнопки поиска */
.form-control {
    color: white !important;
    background-color: black;
    outline: 1px solid #FFD700 !important;
    border: 1px solid #FFD700 !important;
    opacity: 0.8;
}

.form-control:focus {
    color: white !important;
    background-color: black;
    border-color: transparent !important;
    outline: 2px solid #FFD700;
    border: 2px solid #FFD700;
}

.form-control::placeholder {
    color: #FFD700; /* Желтый цвет placeholder */
    opacity: 0.8;
    border-color: transparent !important;
}

.input-group .btn {
  border: 2px solid #FFD700; /* Жёлтая обводка */
  background: transparent; /* Прозрачный фон */
  padding: 0; /* Убираем отступы */
  color: #FFD700;
  display: flex; /* Используем flexbox для выравнивания иконки */
  justify-content: center; /* Центрируем иконку по горизонтали */
  align-items: center; /* Центрируем иконку по вертикали */
  width: 35px; /* Устанавливаем ширину кнопки */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
}

.input-group .btn i {
  margin: 0; /* Убираем отступы вокруг иконки */
}

.input-group .btn i.active {
  opacity: 0.5; /* Полностью видимая кнопка при наведении */
}

.input-group .btn:focus, .input-group .btn:hover {
  box-shadow: none; /* Убираем тень при фокусе или наведении */
}
