nav {
    font-family: var(--font-family-menu);
    color: black !important;
}

a.navbar-brand:hover {
    text-decoration: none;
    color: var(--color-accent)
}

.navbar-nav {
  align-items: center;
}

#navbarNav .search-input {
  max-width: 300px;
  line-height: 1;
}

.search-input .form-control {
  border: 1px solid black;
  border-right: none;
  padding: 2px 10px 2px;
  height: 30px;
}

.search-input .btn {
  border: 1px solid black;
  border-left: none;
  height: 30px;
}