/* ================================
   Post pages
================================= */

.service-detail__card {
  margin-bottom: 1.5rem;
}

.service-detail__body {
  margin-bottom: 0;
}

.service-detail__meta {
  text-align: right;
}
