{% load static %}
{% load job_tags %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'job/css/variable.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/header.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/pages/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/pages/index.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/pages/article.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/pages/about.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/pages/contacts.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/pages/vacancies.css' %}">
        <link rel="stylesheet" href="{% static 'job/css/components.css' %}">
        <link rel="stylesheet"
              href="{% static 'job/css/bootstrap_overwrite.css' %}">
        <!--        <script defer src="{% static 'job/js/solid.min.js' %}"></script>-->
        <script src="https://kit.fontawesome.com/6a1586a6f1.js"
                crossorigin="anonymous"></script>
        <link rel="icon"
              type="image/png"
              sizes="64x64"
              href="/media/photos/Logo/favicon/m_logo_64.png">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="/media/photos/Logo/favicon/m_logo_32.png">
        <title>{{ title }}</title>
        <meta name="description"
              content="{% block meta_description %}{% endblock %}">
        <script src="https://kit.fontawesome.com/6a1586a6f1.js"
                crossorigin="anonymous"></script>
        {% block canonical %}<link rel="canonical" href="{{ request.build_absolute_uri }}">{% endblock %}
        <meta name="ahrefs-site-verification"
              content="ab1ae9a6c2b80e3b2ea9c72c53ab7c950bb19f56c4c2cd9fdc1e134cf790c474">
    </head>
    <body>
        <main>
            <header>
                {% include "job/post/includes/navbar.html" %}
            </header>
            <div class="d-none d-sm-block yellow-stripe">
                {% block page_title %}
                    <h1 class="page-title">
                        {% if request.path == '/' %}
                            Промышленная покраска, антикоррозийная защита, теплоизоляция
                        {% else %}
                            {% if page_obj and page_obj.number > 1 %}
                                {{ title }} <span style="font-size: 14px;">– страница {{ page_obj.number }}</span>
                            {% else %}
                                {{ title }}
                            {% endif %}
                        {% endif %}
                    </h1>
                {% endblock %}
            </div>
            {% block http404 %}{% endblock %}
            {% block http500 %}{% endblock %}
            {% block landing %}{% endblock %}
            {% block services %}{% endblock %}
            {% block projects %}{% endblock %}
            {% block articles %}{% endblock %}
            {% block about %}{% endblock %}
            {% block contact %}{% endblock %}
            {% block vacancies %}{% endblock %}
        </main>
        <footer>
            <div class="container text-center">
                <div class="d-flex flex-column flex-sm-row justify-content-around text-center g-3">
                    <div>
                        <p>
                            <img class="custom-image img-fluid"
                                 src="{% static 'job/images/MG.png' %}"
                                 alt="Маляр Групп"
                                 loading="lazy">
                        </p>
                        <p>
                            <a class="text-decoration-none text-reset fs-5" href="tel:+73912516747">+7(391)251-67-47</a>
                        </p>
                        <p>
                            <a class="text-decoration-none text-reset fs-5"
                               href="mailto:mgrup24@mail.ru">mgrup24@mail.ru</a>
                        </p>
                    </div>
                    <div>
                        <h5 class="text-uppercase">Информация</h5>
                        <hr class="my-2">
                        <p>
                            <a href="#">О компании</a>
                        </p>
                        <p>
                            <a href="{% url 'job:vacancies' %}">Вакансии</a>
                        </p>
                        <p>
                            <a href="{% static 'job/images/company-details-mgrup24.pdf' %}"
                               target="_blank"
                               rel="noopener noreferrer">Реквизиты</a>
                        </p>
                    </div>
                    <div>
                        <h5 class="text-uppercase">Время работы</h5>
                        <hr class="my-2">
                        <p>пн-пт: 09:00 - 18:00</p>
                        <p>сб-вс: выходной</p>
                        <p>без перерыва</p>
                    </div>
                    <div>
                        <h5 class="text-uppercase">Наш адрес</h5>
                        <hr class="my-2">
                        <p>660011, Россия</p>
                        <p>Красноярский край, г.Красноярск</p>
                        <p>ул. Кипрейная, д. 11</p>
                    </div>
                    <div>
                        <h5 class="text-uppercase">Мы в сети</h5>
                        <hr class="my-2">
                        <div class="footer-icons fs-2">
                            <a href="#"
                               aria-label="YouTube"
                               target="_blank"
                               rel="noopener noreferrer">
                                <i class="fab fa-youtube fa-xl youtube-icon"></i>
                            </a>
                            <a href="{% url 'job:contacts' %}"
                               aria-label="Telegram"
                               target="_blank"
                               rel="noopener noreferrer">
                                <i class="fab fa-telegram fa-lg telegram-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
                crossorigin="anonymous">
              </script>
        <!--<script>-->
        <!--    &lt;!&ndash;Сохраняем позицию скролла перед переходом&ndash;&gt;-->
        <!--            document.addEventListener('DOMContentLoaded', function() {-->
        <!--                const links = document.querySelectorAll('.pagination a');-->
        <!--                links.forEach(link => {-->
        <!--                    link.addEventListener('click', function(event) {-->
        <!--                        event.preventDefault(); // Предотвращаем стандартное поведение ссылки-->
        <!--    &lt;!&ndash;Сохраняем текущую позицию скролла в localStorage&ndash;&gt;-->
        <!--                        localStorage.setItem('scrollPosition', window.scrollY);-->
        <!--                        // Переходим по новому URL-->
        <!--                        window.location.href = this.href;-->
        <!--                    });-->
        <!--                });-->
        <!--    &lt;!&ndash;Восстанавливаем позицию скролла после загрузки страницы&ndash;&gt;-->
        <!--                window.addEventListener('load', function() {-->
        <!--                    const scrollPosition = localStorage.getItem('scrollPosition');-->
        <!--                    if (scrollPosition !== null) {-->
        <!--                        window.scrollTo(0, parseInt(scrollPosition));-->
        <!--                        localStorage.removeItem('scrollPosition'); // Удаляем сохраненную позицию после восстановления-->
        <!--                    }-->
        <!--                });-->
        <!--            });-->
        <!--</script>-->
        <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Находим все элементы с классом .nav-link.dropdown-toggle
        var dropdownLinks = document.querySelectorAll('.nav-link.dropdown-toggle');

        dropdownLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                // Проверяем, что клик был на главной ссылке, а не просто на меню
                if (window.innerWidth > 768) { // только на больших экранах
                    window.location.href = link.href; // перенаправляем по ссылке
                }
            });
        });
    });
        </script>
    </body>
</html>
