/* Шрифты */
@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum-Regular.cfdc821707fc.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum-Bold.7d555ec46277.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum-Italic.abed939eabb3.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum-BoldItalic.b128c167a54b.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}


@font-face {
    font-family: 'LegendeC';
    src: url("../fonts/LegendeC-Plain.8257fc7da6bd.woff") format('woff'),
    src: url("../fonts/LegendeC-Plain.f52ef4243475.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'NeoSansPro';
  src: url("../fonts/NeoSansPro-Regular.fef4694365c3.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("../fonts/NeoSansPro-Bold.6e08b2f4a112.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("../fonts/NeoSansPro-BoldItalic.9b0caef08e57.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("../fonts/NeoSansPro-Light.0c17bea9e680.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("../fonts/NeoSansPro-Medium.36671e6c09a7.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("../fonts/NeoSansPro-Ultra.0a17509beae4.otf") format('opentype');
  font-weight: 900;
  font-style: normal;
}
