{% extends "job/base.html" %}
{% load static %}
{% block meta_description %}{{meta_description}}{% endblock %}
{% block articles %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card mb-4 ps-1 pe-1">
                <img src="{{article.photo.url}}" class="card-img-top" alt="Article Image" loading="lazy">
                <div class="card-body">
                    <p class="card-text"> {{ article.body|safe }}.</p>

                    <div class="card-footer mb-3">
                      <small class="text-muted">Опубликовано: {{ article.publish }}</small>
                    </div>
                        <a href="{{ request.META.HTTP_REFERER|default:'#' }}"
                           class="transparent-button"
                           style="text-align: center;"
                           onclick="window.history.back(); return false;">назад
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}