{% extends "job/base.html" %}
{% load static %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block articles %}
    <div class="container content-section content-section--offset">
        <div class="row content-row--centered">
            <div class="col-lg-4 article-detail__sidebar">
                <ul class="list-unstyled">
                    {% for article in articles %}
                        <li class="list-group-item {% if article == object %}active{% endif %}">
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <img src="{{ article.photo.url }}"
                         class="card-img-top img-fluid"
                         alt="картинка к статье"
                         loading="lazy"
                         width="{{ article.photo.width }}"
                         height="{{ article.photo.height }}">
                    <div class="card-body">
                        <p class="card-text article-detail__body">{{ article.body|safe }}.</p>
                        <div class="card-footer article-detail__footer">
                            <small class="publication-meta">Опубликовано: {{ article.publish }}</small>
                        </div>
                        <a href="{{ request.META.HTTP_REFERER|default:'#' }}"
                           class="btn button transparent"
                           onclick="window.history.back(); return false;">назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
