<br>
<form id="contactForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="col-md-4 mb-3 mx-auto">
            <div class="input-group has-validation">
                <span class="input-group-text" ><i class="fa-solid fa-user-tie"></i></span>
                <input type="text" class="form-control" id="name"
                    name="name" placeholder="Ваше имя" required>
                <div class="invalid-feedback">
                    Необходимо указать имя
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3 mx-auto">
            <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
                <input type="email" class="form-control" id="email"
                        name="email" placeholder="Ваш Email" required>
                <div class="invalid-feedback">
                    Необходимо указать адрес электронной почты
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3 mx-auto">
            <textarea class="form-control" id="message" placeholder="Ваше сообщение" name="message" rows="5" required></textarea>
        </div>


        <div class="col-md-4 mb-3 mx-auto">
            <label for="photo" class="form-label">  Загрузить фото</label>
            <input type="file" name="photo" class="form-control" id="photo">
        </div>

        <div class="col-md-4 mb-3 mx-auto">
            <div class="text-left mb-3">
                <button type="submit" class="btn-custom">Отправить сообщение</button>
            </div>
        </div>

</form>

    <!-- Div для отображения сообщения об успехе или ошибке -->
    <div id="formResponse" style="display:none;"></div>


<script>
document.getElementById('contactForm').addEventListener('submit', function(event) {
    event.preventDefault();  // Останавливаем стандартную отправку формы

    let formData = new FormData(document.getElementById('contactForm'));// Создаем объект FormData для отправки файлов и других данных формы

    fetch("{% url 'job:contact' %}", {
        method: 'POST',
        body: formData,  // Передаем данные формы
        headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')  // Добавляем CSRF-токен
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            // Успешный ответ
            document.getElementById('formResponse').innerHTML = `<div class="alert alert-success">${data.message}</div>`;
            document.getElementById('formResponse').style.display = 'block';
            document.getElementById('contactForm').reset();  // Очищаем форму после успешной отправки
                // Скрываем сообщение через 3 секунды
             setTimeout(function() {
                document.getElementById('formResponse').style.display = 'none';
            }, 3000);
        } else if (data.error) {
            // Ошибка
            let errors = JSON.parse(data.error);
            let errorMessage = '';
            for (let field in errors) {
                errorMessage += `${errors[field][0].message}<br>`;
            }
            document.getElementById('formResponse').innerHTML = `<div class="alert alert-danger">${errorMessage}</div>`;
            document.getElementById('formResponse').style.display = 'block';
        }
    })
    .catch(error => {
        console.error('Error:', error);
        document.getElementById('formResponse').innerHTML = `<div class="alert alert-danger">Ошибка отправки формы. Попробуйте снова.</div>`;
        document.getElementById('formResponse').style.display = 'block';
    });
});
</script>