<nav aria-label="breadcrumb" class="d-none d-lg-block">
    <ol class="breadcrumb d-flex justify-content-end pe-3 mb-0">
        {% for crumb in breadcrumbs %}
            {% if crumb.url %}
                <li class="breadcrumb-item">
                    <a href="{{ crumb.url }}" class="text-decoration-none text-black">{{ crumb.title }}</a>
                </li>
            {% else %}
                <li class="breadcrumb-item active fw-bold text-black" aria-current="page">{{ crumb.title }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
