<br>
<div class="container my-5">
  <div class="row">
    <!-- Первый столбец: обе формы -->
    <div class="col-lg-5 mb-1 px-5">

      <!-- Первая форма: Ввод имени и Telegram username -->
        <form id="verificationForm" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <div class="input-group has-validation w-100">
                    <span class="input-group-text"><i class="fa-solid fa-user-tie"></i></span> <input type="text"
                                                                                                      class="form-control"
                                                                                                      id="name"
                                                                                                      name="name"
                                                                                                      placeholder="Ваше имя"
                                                                                                      required>
                    <div class="invalid-feedback">Необходимо указать имя</div>
                </div>
            </div>

            <div class="mb-3">
                <div class="d-flex align-items-center">
                    <div class="input-group has-validation me-2">
                        <span class="input-group-text"><i class="fa-solid fa-at"></i></span> <input type="text"
                                                                                                    class="form-control"
                                                                                                    id="tg_username"
                                                                                                    name="tg_username"
                                                                                                    placeholder="Ваш username в Telegram"
                                                                                                    required>
                        <div class="invalid-feedback">Укажите Telegram username</div>
                    </div>
                    <button type="button" class="btn button transparent" id="getCodeBtn">check</button>
                    <span id="verifiedCheck" class="ms-2" style="display: none; color: green;">
                <i class="fa-solid fa-check"></i>
              </span>
                </div>
            </div>


            <div id="pass-key" class="mb-3" style="display: none;">
                пароль был отправлен в нашем телеграм-боте
                <div class="d-flex align-items-center">
                    <div class="input-group has-validation me-2">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span> <input type="text"
                                                                                                     class="form-control"
                                                                                                     id="code"
                                                                                                     name="code"
                                                                                                     placeholder="Укажите код"
                                                                                                     required>
                        <div class="invalid-feedback">Необходимо указать код из Telegram</div>
                    </div>
                    <button type="button" class="btn button transparent" id="verifyCodeBtn">confirm</button>
                </div>
                <div id="verificationMessage" class="mb-3 ms-2" style="display: none; color: none;">
                    <i class="fa-solid fa-key"></i>
                </div>
            </div>
        </form>

      <!-- Вторая форма: Отправка сообщения и фото -->
        <form id="contactForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <div class="input-group has-validation w-100">
                    <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span> <input
                        type="email"
                                                                                                        class="form-control"
                                                                                                        id="email"
                                                                                                        name="email"
                                                                                                        placeholder="Ваш Email"
                                                                                                        required>
                    <div class="invalid-feedback">Необходимо указать Email</div>
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control w-100" id="message" placeholder="Ваше сообщение" name="message" rows="5"
                          required></textarea>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Загрузить фото</label> <input type="file" name="photo"
                                                                                    class="form-control w-100"
                                                                                    id="photo">
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn button transparent">Отправить сообщение</button>
            </div>
        </form>
        <div id="formResponse" style="display:none;"></div>
    </div>

    <!-- Второй столбец: Информация -->
        <div class="col-lg-7 px-3">
            <div class="fs-5">
                <p class="text-indent">К настоящему моменту вы узнали многое о "МалярГрупп". Однако остается один важный
                    вопрос: Что конкретно "МалярГрупп" может сделать для вашего проекта по покраске и нанесению
                    покрытий? Сейчас у вас есть возможность узнать об этом.

                <p class="text-indent">Расскажите нам о своем проекте, о том, что вам нужно и чего вы ожидаете от подрядчика по покраске и
                покрытиям. Мы с удовольствием обсудим детали работы и предоставим вам дополнительную информацию о наших
                преимуществах, таких как:

                <li>Более двадцати лет опыта в лакокрасочной отрасли</li>
                <li>Постоянное внимание к вопросам безопасности, которое укрепляется каждый день</li>
                <li>Профессиональные и сертифицированные сотрудники, прекрасно знающие свое дело</li>
                <li>Современные инструменты и оборудование, обеспечивающие высокую производительность и эффективность</li>
                <li>Высокий уровень сервиса, который заслужил признание по всему Сибирскому региону</li>
                <li>Мы часто говорим о гордости за нашу работу в "МалярГрупп", но больше всего это чувство передается
                    нашим
                клиентам, когда мы завершаем их проект по покраске и покрытиям.</li>

                <p class="text-indent">После сотрудничества с нами мы уверены, что и вы ощутите это.
            </div>
        </div>

    </div>
</div>


<script>
    document.getElementById('getCodeBtn').addEventListener('click', function () {
    const form = document.getElementById('verificationForm');
    const formData = new FormData(form);
    const tgUsername = formData.get('tg_username')?.trim();
    const name = formData.get('name')?.trim();

    if (!tgUsername || !name) {
        alert('Введите ваше имя и Telegram username.');
        return;
    }

fetch("{% url 'job:generate_code' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.redirect) {
            // Если есть redirect, перенаправляем пользователя

            const passKeyDiv = document.getElementById('pass-key');
            passKeyDiv.style.display = 'block'; // Показываем pass-key

            window.open(data.redirect, '_blank', 'noopener');
        } else if (data.success) {
            // Если успешный запрос, но без редиректа
            alert(data.message);
            const verifiedCheck = document.getElementById('verifiedCheck');
            verifiedCheck.style.display = 'inline';

            const contactForm = document.getElementById('contactForm');
            contactForm.classList.add('active');

            // Заполнение поля email в форме
            const emailField = document.getElementById('email');
            emailField.value = data.email; // Устанавливаем значение email в поле формы

            if (data.show_pass_key) {
                const passKeyDiv = document.getElementById('pass-key');
                passKeyDiv.style.display = 'block'; // Показываем pass-key
            }
        } else {
            // Обработка ошибки
            alert('Ошибка: ' + data.message);
        }
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert('Произошла ошибка. Попробуйте снова.');
    });
});


document.getElementById('verifyCodeBtn').addEventListener('click', function () {
    const form = document.getElementById('verificationForm');
    const formData = new FormData(form);

    if (!formData.get('tg_username') || !formData.get('code')) {
        alert('Введите Telegram username и код.');
        return;
    }

    fetch("{% url 'job:verify_code' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
    })
    .then(response => response.json())
    .then(data => {
        const messageElement = document.getElementById('verificationMessage');
        if (data.status === 'verified') {
            // Показ успешного сообщения
            messageElement.style.display = 'block';
            messageElement.className = 'alert alert-success';
            messageElement.textContent = data.message;

            // Добавление галочки
            const verifiedCheck = document.getElementById('verifiedCheck');
            verifiedCheck.style.display = 'inline';

            // Активация второй формы
            const contactForm = document.getElementById('contactForm');
            contactForm.classList.add('active');
            console.log(contactForm.classList);

        } else {
            // Ошибка верификации
            messageElement.style.display = 'block';
            messageElement.className = 'alert alert-danger';
            messageElement.textContent = data.message;
        }
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert('Произошла ошибка. Попробуйте снова.');
    });
});

document.getElementById('contactForm').addEventListener('submit', function(event) {
    event.preventDefault();  // Останавливаем стандартную отправку формы

    let formData = new FormData(document.getElementById('contactForm'));// Создаем объект FormData для отправки файлов и других данных формы

    fetch("{% url 'job:save_message' %}", {
        method: 'POST',
        body: formData,  // Передаем данные формы
        headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')  // Добавляем CSRF-токен
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            // Успешный ответ
            document.getElementById('formResponse').innerHTML = `<div class="alert alert-success">${data.message}</div>`;
            document.getElementById('formResponse').style.display = 'block';
            document.getElementById('contactForm').reset();  // Очищаем форму после успешной отправки
                // Скрываем сообщение через 3 секунды
             setTimeout(function() {
                document.getElementById('formResponse').style.display = 'none';
            }, 3000);
        } else if (data.error) {
            // Ошибка
            let errors = JSON.parse(data.error);
            let errorMessage = '';
            for (let field in errors) {
                errorMessage += `${errors[field][0].message}<br>`;
            }
            document.getElementById('formResponse').innerHTML = `<div class="alert alert-danger">${errorMessage}</div>`;
            document.getElementById('formResponse').style.display = 'block';
        }
    })
    .catch(error => {
        console.error('Error:', error);
        document.getElementById('formResponse').innerHTML = `<div class="alert alert-danger">Ошибка отправки формы. Попробуйте снова.</div>`;
        document.getElementById('formResponse').style.display = 'block';
    });
});

</script>