{% load static %}
<br>
<div class="container" id="contacts">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 px-md-3 mx-auto">
                <div
                        class="bg-chat p-4 rounded-4 shadow-sm h-100 d-flex flex-column justify-content-between"
                >
                    <div class="d-flex align-items-center mb-4">
                        <div class="flex-shrink-0">
                            <div
                                    class="bg-white rounded-circle d-flex align-items-center justify-content-center shadow-sm"
                                    style="width: 48px; height: 48px">
                                <i class="bi bi-buildings-fill text-accent fs-4"></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <p class text-indent">
                            <span class="logo-font">Маляр</span><span class="neopro-bold display-5">Групп</span></p>
                            <small class="text-muted">На связи с вами</small>
                        </div>
                    </div>

                    <div class="d-flex flex-column gap-3">
                        <div class="bg-white p-3 rounded-4 chat-bubble shadow-sm w-100">
                            <p class="mb-0 text-muted">
                                К этому моменту вы уже узнали многое о компании «МалярГрупп».
                            </p>
                        </div>

                        <div
                                class="bg-white p-3 rounded-4 chat-bubble shadow-sm w-100 border-start border-4 border-warning"
                        >
                            <p class="fw-bold mb-0 text-dark">
                                Но остаётся главный вопрос: <br/>
                                <span class="text-accent"
                                >Что именно мы можем сделать для вашего проекта по покраске
                    и нанесению покрытий?</span
                                >
                            </p>
                        </div>

                        <div class="bg-white p-3 rounded-4 chat-bubble shadow-sm w-100">
                            <p class="mb-2 text-secondary">
                                Сейчас — лучший момент, чтобы это узнать.
                            </p>
                            <p class="mb-0 text-dark">
                                Расскажите нам о своём проекте: какие задачи предстоит решить
                                и каким вы видите идеального подрядчика? Мы обсудим детали,
                                предложим оптимальные варианты и покажем, почему нам доверяют
                                по всему региону.
                            </p>
                        </div>

                        <div class="ms-2">
                            <small class="text-muted fst-italic"
                            >Ожидание вашего ответа...</small
                            >
                        </div>
                    </div>

                    <div class="mt-4 pt-3 border-top border-secondary-subtle">
                        <div class="input-group">
                            <input
                                    type="text"
                                    class="form-control bg-white border-0 py-2 shadow-sm rounded-pill"
                                    placeholder="Расскажите о вашем проекте..."
                                    aria-label="Message"
                                    disabled
                                    style="cursor: pointer"
                            />
                            <button
                                    class="btn btn-primary rounded-circle ms-2 shadow-sm d-flex align-items-center justify-content-center"
                                    style="width: 40px; height: 40px"
                                    type="button"
                            >
                                <i class="bi bi-send-fill"></i>
                            </button>
                        </div>
                        <small
                                class="text-muted ps-3 mt-1 d-block"
                                style="font-size: 0.75rem"
                        >Нажмите на форму заявки или контакты, чтобы ответить</small
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-md-5">
        <form id="contactForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden"
                   name="telegram_id"
                   value="{{ request.session.user.id }}">
            <!-- Ник в Telegram -->
            <div class="d-flex justify-content-between align-items-center gap-1">
                <div class="input-group data-input w-50">
                    <span class="input-group-text"><i class="fa-solid fa-at"></i></span>
                    <label for="username" class="visually-hidden">Ваш telegram login</label>
                    <input type="text"
                           name="username"
                           class="form-control"
                           placeholder="telegram login"
                           value="{{ request.session.user.username|default:'' }}"
                           readonly>
                </div>

                <div class="tg-login-wrap">
                    <script async src="https://telegram.org/js/telegram-widget.js?22"
                            data-telegram-login="mgrup24_bot"
                            data-size="large"
                            data-radius="7"
                            data-auth-url="https://mgroup-vvlxvt.amvera.io/callback"
                            data-request-access="write">
                    </script>
                </div>
            </div>

            <!-- Имя -->
            <div class="input-group data-input w-100">
                <span class="input-group-text"><i class="fa-solid fa-user-tie"></i></span>
                <label for="first_name" class="visually-hidden">Ваше имя</label>
                <input type="text"
                       name="first_name"
                       class="form-control"
                       placeholder="Ваше имя"
                       value="{{ request.session.user.first_name|default:'' }}"
                       readonly>
            </div>

            <!-- Дата аутентификации -->
            <div class="input-group data-input w-100">
                <span class="input-group-text"><i class="fa-solid fa-calendar"></i></span>
                <label for="auth_date" class="visually-hidden">Дата аутенфикации</label>
                <input type="text"
                       name="auth_date"
                       class="form-control"
                       placeholder="Дата аутенфикации"
                       value="{{ request.session.user.auth_date|default:'' }}"
                       readonly>
            </div>
            <!-- Email -->
            <div class="input-group data-input w-100 has-validation">
                <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
                <label for="mail" class="visually-hidden">Ваша почта</label>
                <input type="email"
                       class="form-control"
                       id="mail"
                       name="email"
                       value="{{ user_form.initial.email|default_if_none:'' }}"
                       placeholder="Ваш Email">
            </div>
            <div class="invalid-feedback d-none" id="email-error"></div>
            <!-- Город -->
            <div class="input-group data-input w-100 has-validation">
                <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                <label for="city" class="visually-hidden">Ваш город</label>
                <input type="text"
                       class="form-control"
                       id="city"
                       value="{{ user_form.initial.city|default_if_none:'' }}"
                       name="city"
                       placeholder="Укажите откуда Вы">
            </div>
            <div class="invalid-feedback d-none" id="city-error"></div>
            <!-- Сообщение -->
            <div class="data-input w-100">
                <label for="message" class="visually-hidden">Ваш вопрос</label>
                <textarea class="form-control"
                          id="message"
                          name="question_text"
                          placeholder="Задайте Ваш вопрос к нам" required></textarea>
                <div class="invalid-feedback d-none" id="question_text-error"></div>
            </div>
            <!-- Фото -->
            <label for="attached_photo" class="form-label ">Загрузить фото</label>
            <input type="file"
                   name="attached_photo"
                   class="form-control data-input w-100"
                   id="attached_photo">
            <div class="invalid-feedback d-none" id="attached_photo-error"></div>
            <!-- Кнопка -->
            <div class="mb-3 d-flex justify-content-start">
                <button type="submit" class="btn button transparent">Отправить сообщение</button>
            </div>
        </form>
    </div>


</div>
<div class="card shadow-sm p-4 industrial-card">
    <p class="fst-italic mb-3">
        «Мы гордимся своей работой, но настоящая гордость приходит, когда мы видим довольного клиента после
        завершения проекта».
    </p>
    <p class="fw-bold mb-0">
        Сотрудничая с нами, вы испытаете это чувство на собственном опыте.
    </p>
</div>

<div id="formResponse" class="is-hidden"></div>

<script>
    document.getElementById('contactForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const form = document.getElementById('contactForm');
        const formData = new FormData(form);
        const formResponse = document.getElementById('formResponse');

        clearErrors();

        fetch("{% url 'job:submit_question' %}", {
            method: 'POST',
            body: formData,
            headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                formResponse.innerHTML = `<div class="alert alert-success">${data.message}</div>`;
                formResponse.style.display = 'block';
                location.reload();

                setTimeout(() => formResponse.style.display = 'none', 3000);
            } else if (data.error) {
                displayErrors(data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            formResponse.innerHTML = `<div class="alert alert-danger">Ошибка отправки формы. Попробуйте снова.</div>`;
            formResponse.style.display = 'block';
        });

        function clearErrors() {
            document.querySelectorAll('.is-invalid').forEach(el => el.classList.remove('is-invalid'));
            document.querySelectorAll('.invalid-feedback').forEach(el => {
                el.classList.add('d-none');
                el.innerHTML = '';
            });
        }

        function displayErrors(errors) {
            for (let field in errors) {
                const input = document.querySelector(`[name=${field}]`);
                const errorDiv = document.getElementById(`${field}-error`);
                if (input) input.classList.add('is-invalid');
                if (errorDiv && errors[field].length > 0) {
                    errorDiv.classList.remove('d-none');
                    errorDiv.innerHTML = errors[field][0].message;
                }
            }
        }
    });
</script>
