{% load static %}
<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <!-- Mobile logo -->
    <a class="navbar-brand site-brand"
       href="{% url 'job:home' %}">Маляр Групп</a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse navbar-panel" id="navbarNav">
      <ul class="navbar-nav navbar-menu">

        {% for key, m in menu.items %}
        {% if m.submenus %}

        <!-- 🔹 ПУНКТ 1 УРОВНЯ -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="{% url m.url_name %}"
             role="button"
             data-bs-toggle="dropdown"
             data-bs-display="static"
             aria-expanded="false">
            {{ m.title }}
          </a>

          <ul class="dropdown-menu navbar-submenu">

            {% for sub in m.submenus %}

            <!-- 🔹 ПУНКТ 2 УРОВНЯ -->
            <li>
              <a class="dropdown-item"
                 href="{% url sub.url_name %}?category={{ sub.slug }}">
                {{ sub.title }}
              </a>
            </li>

            {% endfor %}
          </ul>
        </li>

        {% else %}

        <!-- 🔹 ПУНКТ БЕЗ ПОДМЕНЮ -->
        <li class="nav-item">
          <a class="nav-link{% if m.url_name|cut:'job:' == request.resolver_match.url_name %} active{% endif %}"
             href="{% url m.url_name %}">
            {{ m.title }}
          </a>
        </li>

        {% endif %}

        {% if key == "contacts" %}
        <li class="nav-item mobile-phone">
          <a class="nav-link mobile-phone__link"
             href="tel:+73912516747">
            +7 (391) 251 67 47
          </a>
        </li>
        {% endif %}
        {% endfor %}

      </ul>

      <!-- Search -->
      <form class="input-group search-input"
            method="GET"
            action="{% url 'job:post_list' %}">
        <input class="form-control"
               type="search"
               name="query"
               placeholder="Поиск">
        <button class="btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

    </div>
  </div>
</nav>

