{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand ms-3 pt-0" href="{% url 'job:home' %}">
        <svg width="0" height="0">
            <filter id="highlight">
                <feDropShadow dx="2" dy="2" stdDeviation="1" flood-color="black"/>
            </filter>
        </svg>
        <img class="my-logo-text" alt="МалярGroup" src="{% static 'job/images/letter_M.png' %}">
    </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {% for key, m in menu.items %}
                {% if m.submenus %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url m.url_name %}" id="navbarDropdown" data-bs-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            {{ m.title }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for sub in m.submenus %}
                                <li><a class="dropdown-item"
                                       href="{% url sub.url_name %}?category={{ sub.slug }}">{{ sub.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url m.url_name %}">{{ m.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <form class="d-flex ms-auto me-5" method="GET" action="{% url 'job:post_list' %}">
            <input class="form-control me-2" type="search" name="query"
                   placeholder="Поиск по статьям" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
             <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</nav>

