/* ================================
 Отвечает за кастомные кнопки, карточки, формы
================================= */
.content-preview strong {
    font-weight: bold;
}

.pagination * {
    font-weight: normal !important; /* Сброс, если баг "переползает" */
}

.btn-custom {
    padding: var(--spacing-small) var(--spacing-base);
    display: inline-block;
    text-decoration: none;
    font-size: var(--font-size-base);
    cursor: pointer;
    background-color: #035199;
    color: white;
    border: solid 1px color #035199;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.btn-custom:hover {
    background-color: #02417A; /* Цвет фона при наведении */
}

.btn-custom:active {
    background-color: #023563; /* Цвет фона при нажатии */
}

.btn-custom:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}
/* стиль кнопки submit */


.hd_image {
  width: 100vw;
  height: auto;
  object-fit: contain;
  display: block;
}

#projects .card img {
    width: 100%; /* Изображение заполняет ширину контейнера */
    height: 100%; /* Высота подстраивается под ширину */
    object-fit: cover; /* Масштабируем изображение, обрезая лишнее */
    object-position: center; /* Центрируем изображение */
    border-radius: var(--border-radius);
}



/* header of section */
.yellow-bar {
  background-color: #FFD700;
  text-align: center;
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-small) 0;
}

.page-title {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .page-title {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  letter-spacing: 1px;
  text-transform: uppercase;
  }
}

#map {
    height: 700px;
    width: 100%;
    margin-top: 0;
    scroll-margin-top: 70px; /* Высота навбара */
}



/* Стили для черной кнопки */
.transparent {
    border: 2px solid #000;
    color: #000;
}

.transparent:hover {
    opacity: 1; /* Полностью видимая кнопка при наведении */
    color: black;
    border: 2px solid black;
    transform: scale(1.03);
}

.transparent:active {
    opacity: 0.7;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    transform: scale(0.95);
}


/* Стиль для разяряженного текста */
.letter-spaced {
  letter-spacing: 5px;
}

a.tag {
    font-weight: bold;
    font-size: 0.6rem;
    color: black;
    background-color: #f5f5f5; /* Светло-серый фон */
    border-radius: 50px; /* Овальная форма */
    padding: 1px 3px;
    border: 1px solid black;
    text-decoration: none; /* Отключаем подчеркивание */
    transition: background-color 0.2s ease-in-out, transform 0.1s;
    cursor: pointer;
    display: inline-block; /* Чтобы фон охватывал весь текст */
}

a.tag:hover {
    background-color: #e0e0e0; /* Серый фон при наведении */
    text-decoration: none; /* Подчеркивание не появляется */
}

a.tag:active {
    background-color: #d6d6d6; /* Темнее при нажатии */
    transform: scale(0.98); /* Легкое уменьшение при клике */
}


.font-cuprum {
    font-family:'Cuprum';
}

.input-group-text {
    color: #FFD700;
    background-color: black;
}

.article-title a {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0;
}

.my-pagination .page-link {
    color: #000 !important;
    background-color: white !important;
    border: none;
    box-shadow: none;
    text-decoration: none;
}

.my-pagination .page-link:hover,
.my-pagination .page-link:focus {
    color: #000 !important;
    background-color: white !important;
    text-decoration: underline;
    text-underline-offset: 5px;
    box-shadow: none;
}

.my-pagination .active .page-link {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px; /* увеличенный зазор */
    background-color: white !important;
    border: none;
}





