/* ================================
 Отвечает за кастомные кнопки, карточки, формы
================================= */

.btn-custom {
    padding: var(--spacing-small) var(--spacing-base);
    display: inline-block;
    text-decoration: none;
    font-size: var(--font-size-base);
    cursor: pointer;
    background-color: #035199;
    color: white;
    border: solid 1px color #035199;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.btn-custom:hover {
    background-color: #02417A; /* Цвет фона при наведении */
}

.btn-custom:active {
    background-color: #023563; /* Цвет фона при нажатии */
}

.btn-custom:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}
/* стиль кнопки submit */

.card {
  background: #fff;
  border: var(--border-width) solid #ddd;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  margin-bottom: 1.5rem;
}

#landing .card li {
    font-size: var(--font-size-large);
}

.card img {
    aspect-ratio: 3 / 2; /* Устанавливаем пропорцию 3:2 */
    width: 100%; /* Изображение заполняет ширину контейнера */
    height: auto; /* Высота подстраивается под ширину */
    object-fit: cover; /* Масштабируем изображение, обрезая лишнее */
    object-position: center; /* Центрируем изображение */
    border-radius: var(--border-radius);
}

.hd_image {
  width: 100vw;
  height: auto;
  object-fit: contain;
  display: block;
}

#projects .card img {
    width: 100%; /* Изображение заполняет ширину контейнера */
    height: 100%; /* Высота подстраивается под ширину */
    object-fit: cover; /* Масштабируем изображение, обрезая лишнее */
    object-position: center; /* Центрируем изображение */
    border-radius: var(--border-radius);
}

.card-body {
  padding: var(--spacing-base);
}

.yellow-bar {
    background-color: #FFD700;
    color: black;
    display: flex;
    justify-content: center; /* Центрируем текст */
    align-items: center;
    height: 35px;
    padding: 0 20px;
    font-family: var(--font-family-base);
    font-size: 1.2rem; /* Размер шрифта для десктопа */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .yellow-bar {
        font-size: 1rem; /* Уменьшаем размер шрифта */
        height: 30px; /* Уменьшаем высоту */
    }
}

#map {
    height: 700px;
    width: 100%;
    margin-top: 0;
    scroll-margin-top: 70px; /* Высота навбара */
}

/* Общие стили для всех кнопок */
.button {
    background-color: transparent;
    border-radius: 8px; /* Скругленные углы */
    text-decoration: none;
    font-size: 8px;
    float: right;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.2s, background-color 0.3s, color 0.3s; /* Плавные переходы */
    opacity: 0.8; /* Начальная прозрачность */
    display: flex; /* Центрируем иконку */
    align-items: center;
    justify-content: center;
    padding: 5px 10px; /* Задаем padding кнопке, а не <i> */
    font-size: var(--font-size-small);
}

.input-group .btn {
  border: 2px solid #FFD700; /* Жёлтая обводка */
  background: transparent; /* Прозрачный фон */
  padding: 0; /* Убираем отступы */
  color: #FFD700;
  display: flex; /* Используем flexbox для выравнивания иконки */
  justify-content: center; /* Центрируем иконку по горизонтали */
  align-items: center; /* Центрируем иконку по вертикали */
  width: 35px; /* Устанавливаем ширину кнопки */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
}

.input-group .btn i {
  margin: 0; /* Убираем отступы вокруг иконки */
}

.input-group .btn i.active {
  opacity: 0.5; /* Полностью видимая кнопка при наведении */
}

.input-group .btn:focus, .input-group .btn:hover {
  box-shadow: none; /* Убираем тень при фокусе или наведении */
}


/* Стили для черной кнопки */
.transparent {
    border: 2px solid #000;
    color: #000;
}

.transparent:hover {
    opacity: 1; /* Полностью видимая кнопка при наведении */
    color: black;
    border: 2px solid black;
    transform: scale(1.03);
}

.transparent:active {
    opacity: 0.7;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    transform: scale(0.95);
}


/* Стиль для разяряженного текста */
.letter-spaced {
  letter-spacing: 5px;
}

a.tag {
    font-weight: bold;
    font-size: 0.6rem;
    color: black;
    background-color: #f5f5f5; /* Светло-серый фон */
    border-radius: 50px; /* Овальная форма */
    padding: 1px 3px;
    border: 1px solid black;
    text-decoration: none; /* Отключаем подчеркивание */
    transition: background-color 0.2s ease-in-out, transform 0.1s;
    cursor: pointer;
    display: inline-block; /* Чтобы фон охватывал весь текст */
}

a.tag:hover {
    background-color: #e0e0e0; /* Серый фон при наведении */
    text-decoration: none; /* Подчеркивание не появляется */
}

a.tag:active {
    background-color: #d6d6d6; /* Темнее при нажатии */
    transform: scale(0.98); /* Легкое уменьшение при клике */
}


.font-cuprum {
    font-family:'Cuprum';
}

.input-group-text {
    color: #FFD700;
    background-color: black;
}

.article-title a {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0;
}

.my-pagination {
    border: none;
}

.my-pagination .page-link {
    color: #000 !important; /* Black text */
    border: none;
    background-color: white !important; /* Yellow background */
}

.my-pagination .page-link:hover {
    background-color: white !important;
    color: #000 !important; /* Keep text black */
}

.my-pagination .active .page-link {
    color: #000; /* золотистый текст */
    text-decoration: underline;
    border: none;
}

.page-link:focus {
    box-shadow: none !important;
}

