/* Шрифты */
@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


@font-face {
    font-family: 'LegendeC';
    src: url('../fonts/LegendeC-Plain.woff') format('woff'),
    src: url('../fonts/LegendeC-Plain.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Ultra.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
