footer {
    /*background-image: url('../images/footer.webp');*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: var(--font-size-base);
    background-color: var(--color-accent);
    padding: 20px 0;
}

@media (max-width: 576px) {
  footer {
    background-image: url('../images/footer.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    background-attachment: local;
    width: 100vw;
    aspect-ratio: 3 / 2;
    padding: 10px 0;
  }
}



footer a, footer p {
    font-size: var(--font-size-medium);
    font-weight: 500;
    color: var(--color-primary);
    overflow-wrap: break-word;
    margin-bottom: 0.5rem;
}

footer h5 {
    color: var(--color-primary);
}

.footer-icons i {
    font-size: 32px;
    margin: 7px;
}

.footer-icons i:hover {
    transform: scale(1.2);
}

.youtube-icon {
  color: #ff0000;
}

.footer-icons .youtube-icon:hover {
  color: #ff0000;
}

.telegram-icon {
  color: #74C0FC;
}

.footer-icons .telegram-icon:hover {
  color: #24A1DE;
}

.footer-section {
  font-family: var(--font-family-menu);
  padding: 1rem;
  text-align: center;
}

.footer-section--spaced {
  margin-bottom: 1rem;
}

.footer-title {
  font-family: var(--font-family-base);
  margin: 0.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.footer-divider {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer-item,
.footer-social {
  margin: 0.25rem;
}

.footer-contact-link {
  margin: 0;
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
}

.footer-contact-item {
  margin-bottom: 0.25rem;
  line-height: 1.3;
}

.footer-contact-item:last-child {
  margin-bottom: 0;
}


@media (min-width: 992px) {
  .footer-group {
    display: contents;
  }

  .footer-column {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
}

@media (min-width: 1200px) {
  .footer-section--spaced {
    margin-bottom: 0;
  }
}
