footer {
    /*background-image: url('../images/footer.webp');*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: var(--font-size-base);
    background-color:#31B787;
    padding: 50px 0;
}

@media (max-width: 576px) {
  footer {
    background-image: url('../images/footer.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    background-attachment: local;
    width: 100vw;
    aspect-ratio: 3 / 2;
    padding: 30px 0;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Чтобы текст тоже центрировался */
  }
}



footer a, footer p {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    max-width: 300px; /* Подберите оптимальную ширину */
    overflow-wrap: break-word;
    margin-bottom: 0.5rem;
}

footer h5 {
    color: var(--color-primary);
}

.footer-icons i {
    font-size: 32px;
    margin: 7px;
}

.footer-icons i:hover {
    transform: scale(1.2);
}

.footer-icons a:nth-child(1) i:hover {
    color: #3b5998; /* Facebook синий */
}

.footer-icons a:nth-child(2) i:hover {
    color: #FF0000; /* YouTube красный */
}

.footer-icons a:nth-child(3) i:hover {
    color: #E1306C; /* Instagram розовый */
    }

.footer-icons a:nth-child(4) i:hover {
    color: 	#24A1DE; /* telegram blue */
    }

.youtube-icon {
  color: #ff0000;
}

.telegram-icon {
  color: #74C0FC;
}
/* footer */