/* Хедер */
header {
    background: url('../images/mgroup24_corner.png') no-repeat top left #FFF;
    background-size: contain;
    padding-bottom: 0;
}

/* Основные стили navbar */
.navbar {
    background-color: black;
    height: 73px;
    padding: 5px 3px;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white !important;
}

/* Логотип */
.m-logo {
    font-size: var(--font-size-h1);
    font-family: var(--font-family-logo);
    position: relative;
    top: 5px;
}

/* Навигационные ссылки */
.navbar-nav .nav-link {
    cursor: pointer;
}

/* Стиль активной ссылки */
.navbar-nav .nav-link.active {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.5);
}

/* Отступ между элементами меню */
.navbar-nav .nav-item {
    margin-left: 30px;
}

/* ======== ВЫПАДАЮЩЕЕ МЕНЮ ======== */
.dropdown-menu {
    display: none; /* По умолчанию скрыто */
    border: none;
    background-color: rgba(255,255,255,0.65); /* Белый фон */
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Стили для ссылок внутри выпадающего меню */
.dropdown-menu a {
    color: black !important; /* Черный текст */
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px 10px; /* Уменьшаем отступы */
}

/* Подчеркивание и легкий фон при наведении */
.dropdown-menu a:hover {
    text-decoration: underline;
    background-color: transparent;
}

/* Показываем меню при наведении */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}
