/* ================================
   Описывает сетку, контейнеры, отступы
================================= */
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.section {
    padding: 40px 20px;
}

main {
  margin-bottom: 32px;
}
