/* ================================
   Описывает сетку, контейнеры, отступы
================================= */
body {
  margin: 0;
  padding: 40px 0 0 0;
  overflow-x: hidden;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

article {
  line-height: 1.6;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  article {
    margin-bottom: 1rem;
  }
}

main {
  margin-bottom: 32px;
}

section {
  margin-bottom: 3rem;
}
