
/* Мобильные устройства */
@media (max-width: 576px) {
    :root {
        --font-size-base: 0.875rem; /* 14px */
        --spacing-small: 0.5rem;
        }
}

/* Планшеты */
@media (min-width: 577px) and (max-width: 768px) {
    :root {
        --font-size-base: 0.875rem; /* 14px */
        --spacing-small: 0.5rem;
    }
}


