/* ================================
   CSS Root: Определение переменных
================================= */
:root {
  /* Цветовая палитра */
  --color-primary: black;
  --color-secondary: #FFD700; /* golden*/
  --color-accent: #0D203B; /* JBL dark blue*/
  --color-background: #FFF; /* Цвет фона */
  --bs-tertiary-bg: #FFF;
  --color-text: #000; /* Основной цвет текста */

  /* Шрифты */
  --font-family-base: 'Segoe UI',sans-serif,Arial; /* Основной шрифт */
  --font-family-logo: 'LegendeC',sans-serif,Arial;;
  --font-family-menu: 'NeoSansPro',sans-serif,Arial;;
  --font-family-heading: 'Cuprum',sans-serif,Arial;; /* Шрифт для заголовков */

/* Базовый размер шрифта */
    --font-size-base: 1rem; /* 16px */

    /* Меньшие размеры */
    --font-size-small: 0.875rem; /* 14px */
    --font-size-x-small: 0.75rem; /* 12px */

    /* Большие размеры */
    --font-size-large: 1.25rem; /* 20px */
    --font-size-x-large: 1.5rem; /* 24px */
    --font-size-xx-large: 2rem; /* 32px */

    /* Заголовки */
    --font-size-h1: 2rem; /* 32px */
    --font-size-h2: 1.75rem; /* 28px */
    --font-size-h3: 1.5rem; /* 24px */
    --font-size-h4: 1.25rem; /* 20px */
    --font-size-h5: 1.125rem; /* 18px */
    --font-size-h6: 1rem; /* 16px */

    --font-weight-bold: 700; /* Толщина шрифта для bold */
    --font-weight-normal: 400; /* Обычная толщина */
    --font-weight-light: 300; /* Легкая толщина */

  /* Отступы */
    --spacing-small: 0.5rem;
    --spacing-base: 1rem;
    --spacing-large: 2rem;

  /* Границы */
  --border-radius: 5px; /* Радиус закругления */
  --border-width: 1px;


  /* Максимальные размеры */
  --max-width-container: 1920px;
  --min-width-container: 360px;
}
