{% extends "job/base.html" %}
{% load static %}
{% block title %}<title>{{ page_title }}</title>{% endblock %}
{% block projects %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6">
            <div class="container mt-4" id="project">
                <article>
                    <h2 class="text-center">{{ project.body }}</h2>
                </article>
                <div class="d-flex flex-column align-items-center mt-3 gap-3">
                    {% for photo in project.photos.all %}
                        <div class="image-wrapper w-100">
                            <img class="img-fluid clickable-image"
                                 src="{{ photo.image.url }}"
                                 alt="Фото проекта"
                                 data-bs-toggle="modal"
                                 data-bs-target="#imageModal{{ forloop.counter }}">
                        </div>
                        <!-- Modal -->
                        <div class="modal fade"
                             id="imageModal{{ forloop.counter }}"
                             tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-fullscreen">
                                <div class="modal-content">
                                    <div class="modal-header bg-dark border-0">
                                        <button type="button"
                                                class="btn-close btn-close-white ms-auto"
                                                data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body p-0">
                                        <img src="{{ photo.image.url }}" class="hd_image" alt="Project Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
