{% extends "job/base.html" %}
{% load static %}
<title>{{ page_title }}</title>
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block projects %}
    <section id="projects" class="mt-4 py-3">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Map Column -->
                <div class="col-12 mb-3 col-lg-6 mb-lg-0">
                    <div class="rounded" id="map"></div>
                </div>
                <!-- Cards Column -->
                <div class="col-lg-6 col-12">
                    <div class="container-fluid" id="info-card-container">{% include "job/project/project_card.html" %}</div>
                </div>
            </div>
        </div>
    </section>
    <script>
    const apiKey = "{{ google_maps_api_key }}";

    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;
    b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));
    e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);
    e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;
    a.onerror=()=>h=n(Error(p+" could not load."));
    a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));
    d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: apiKey,
      v: "weekly",
    });
    </script>
    <script>
    const locations = JSON.parse('{{ locations_json|safe }}');

    let map;
    let markers = [];

    async function initMap() {
    const { Map, InfoWindow } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");

    map = new Map(document.getElementById("map"), {
        zoom: 7,
        center: { lat: 56.022115, lng: 93.03075 },
        mapId: "4504f8b37365c3d0",
    });

    const infoWindow = new InfoWindow();

    // Создаем маркеры
    locations.forEach(({ id, position, title }) => {
    const pin = new PinElement({
        glyph: `${id}`,  // Используем ID проекта вместо номера
        scale: 1.0,
        background: "#31B787",
        glyphColor: "#000000",
        borderColor: "#000000",
    });

    const marker = new AdvancedMarkerElement({
        position,
        map,
        title: `${id}. ${title}`,  // Тоже показываем ID
        content: pin.element,
        gmpClickable: true,
    });

    markers[id] = marker;

    marker.addListener("click", () => {
        fetch(`/ajax/card/${id}/`)
            .then(response => response.text())
            .then(html => {
                document.getElementById("info-card-container").innerHTML = html;
                });
            });
        });
    }

    window.addEventListener("load", initMap);
    </script>
    <script>
    document.querySelectorAll('.focus-on-map').forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault(); // Предотвращаем стандартное поведение
            const targetSelector = this.getAttribute('data-target'); // Получаем значение data-target
            const target = document.querySelector(targetSelector); // Находим элемент по селектору
            if (target) {
                target.scrollIntoView({ behavior: 'smooth', block: 'start' }); // Плавная прокрутка
            }
        });
    });
    </script>
{% endblock %}
