{% extends "job/base.html" %}
{% load static %}

<title>{{ page_title }} </title>
{% block meta_description %}{{meta_description}}{% endblock %}
{% block projects %}
<section id="projects">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Map Column -->
            <div class="col-lg-6 col-12">
                <div id="map"></div>
            </div>

            <!-- Cards Column -->
            <div class="col-lg-6 col-12">
                <div container-fluid>
                {% for project in page_obj %}
                  <div class="card">
                    <div class="row">
                      <!-- Card Body -->
                      <div class="col-8">
                          <div class="card-body">
                              <h5 class="article-title text-dark">{{ forloop.counter }}.
                                  <button class="focus-on-map transparent-button" data-target="#map"
                                          data-id="{{ project.id }}">
                                      <i class="fa-solid fa-location-dot fs-5"></i>
                                  </button>
                                  <a href="{{ project.get_absolute_url }}">
                                    {{ project.title }}
                                  </a>
                              </h5>
                              <p class="card-text mt-3">{{ project.body|truncatewords:20 }}</p>
                          </div>
                      </div>
                      <!-- Card Thumbnail -->
                      <div class="col-4 d-flex align-items-center justify-content-center">
                        {% if project.photos %}
                          {% with project.photos.first as photo %}
                            <img src="{{ photo.image.url }}" alt="Project Thumbnail" class="img-fluid">
                          {% endwith %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</section>


<script>
    const apiKey = "{{ google_maps_api_key }}";

    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;
    b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));
    e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);
    e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;
    a.onerror=()=>h=n(Error(p+" could not load."));
    a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));
    d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: apiKey,
      v: "weekly",
    });
</script>

<script>
    const locations = JSON.parse('{{ locations_json|safe }}');

    let map;
    let markers = [];

    async function initMap() {
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");

        map = new Map(document.getElementById("map"), {
            zoom: 10,
            center: { lat: 56.022115, lng: 93.03075 },
            mapId: "4504f8b37365c3d0",
        });

        const infoWindow = new InfoWindow();

        // Создаем маркеры
        locations.forEach(({ id, position, title }, i) => {
            const pin = new PinElement({
                glyph: `${i + 1}`,
                scale: 1.0,
            });
            const marker = new AdvancedMarkerElement({
                position,
                map,
                title: `${i + 1}. ${title}`,
                content: pin.element,
                gmpClickable: true,
            });

            markers[id] = marker; // Связываем маркер с ID проекта

            // Добавление слушателя событий для маркеров
            marker.addListener("click", () => {
                infoWindow.close();
                infoWindow.setContent(marker.title);
                infoWindow.open(map, marker);
            });
        });

        // Обработка кликов по списку проектов
        document.querySelectorAll('.focus-on-map').forEach(button => {
            button.addEventListener('click', (event) => {
                const projectId = parseInt(event.target.dataset.id, 10);
                const marker = markers[projectId];
                if (marker) {
                    map.panTo(marker.position);
                    map.setZoom(6); // Приближаем карту
                    infoWindow.close();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                }
            });
        });
    }

    initMap();
</script>

<script>
document.querySelectorAll('.focus-on-map').forEach(function(button) {
    button.addEventListener('click', function(event) {
        event.preventDefault(); // Предотвращаем стандартное поведение
        const targetSelector = this.getAttribute('data-target'); // Получаем значение data-target
        const target = document.querySelector(targetSelector); // Находим элемент по селектору
        if (target) {
            target.scrollIntoView({ behavior: 'smooth', block: 'start' }); // Плавная прокрутка
        }
    });
});
</script>
{% endblock %}
