{% load static %}
{% load job_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'job/css/job.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6a1586a6f1.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="64x64" href="/media/photos/Logo/favicon/m_logo_2new2__64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/photos/Logo/favicon/m_logo_new_32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/photos/Logo/favicon/m_logo_new_16.png">
    <title>{{ title }}</title>
    <style>.nav-item.active .nav-link {font-weight: bold;}</style>
</head>

<body>

<header>
<!-- Navbar -->
{% include "job/post/includes/navbar.html" %}

<!-- Header / Hero Section -->
    <div class="text-white text-center horizontal-bar fs-5" style="background-color: #035199;">
        {{ title }}
    </div>

</header>

{% block http404 %} {% endblock %}

<!-- landing section -->
{% block landing %} {% endblock %}


<!-- Services Section -->
{% block content %} {% endblock %}


<!-- Projects Section -->
{% block projects %} {% endblock %}


<!-- Articles Section -->
{% block articles %} {% endblock %}


<!-- About Section -->
{% block about %} {% endblock %}


<!-- Contact Section -->
{% include "job/post/includes/callback.html" %}

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <h4>Информация</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Вакансии</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-6">
                    <h4>Время работы</h4>
                    <ul class="list-unstyled">
                        <li>Красноярск ул. Кипрейная 11</li>
                        <li>пн-пт: 10:00 - 18:00</li>
                        <li>сб-вс: 10:00 - 16:00</li>
                        <li>без перерыва</li>
                    </ul>
                </div>

                <div class="col-md-3 col-6">
                    <h4>Контакты</h4>
                    <ul class="list-unstyled">
                        <li><a href="tel:555591331696">(555)591-331-696</a></li>
                        <li><a href="tel:555591331697">(555)591-331-697</a></li>
                        <li><a href="tel:555591331698">(555)591-331-698</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-6">
                    <h4>Мы в сети</h4>
                    <div class="footer-icons">
                        <a href="https://www.facebook.com/login.php/"> <i class="fab fa-facebook-f"></i></a> <a
                            href="#"> <i class="fab fa-youtube"></i></a> <a
                            href="https://www.instagram.com/accounts/login/"> <i class="fab fa-instagram"></i></a> <a
                            href="#"> <i class="fa-brands fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="mb-0">&copy; 2024 Company Name. All rights reserved.</p>
        <p>Follow us on <a href="#" class="text-white">Social Media</a></p>
</footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!--<script>-->

<!--    &lt;!&ndash;Сохраняем позицию скролла перед переходом&ndash;&gt;-->
<!--            document.addEventListener('DOMContentLoaded', function() {-->
<!--                const links = document.querySelectorAll('.pagination a');-->

<!--                links.forEach(link => {-->
<!--                    link.addEventListener('click', function(event) {-->
<!--                        event.preventDefault(); // Предотвращаем стандартное поведение ссылки-->

<!--    &lt;!&ndash;Сохраняем текущую позицию скролла в localStorage&ndash;&gt;-->
<!--                        localStorage.setItem('scrollPosition', window.scrollY);-->

<!--                        // Переходим по новому URL-->
<!--                        window.location.href = this.href;-->
<!--                    });-->
<!--                });-->

<!--    &lt;!&ndash;Восстанавливаем позицию скролла после загрузки страницы&ndash;&gt;-->
<!--                window.addEventListener('load', function() {-->
<!--                    const scrollPosition = localStorage.getItem('scrollPosition');-->
<!--                    if (scrollPosition !== null) {-->
<!--                        window.scrollTo(0, parseInt(scrollPosition));-->
<!--                        localStorage.removeItem('scrollPosition'); // Удаляем сохраненную позицию после восстановления-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--</script>-->

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Находим все элементы с классом .nav-link.dropdown-toggle
    var dropdownLinks = document.querySelectorAll('.nav-link.dropdown-toggle');

    dropdownLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            // Проверяем, что клик был на главной ссылке, а не просто на меню
            if (window.innerWidth > 768) { // только на больших экранах
                window.location.href = link.href; // перенаправляем по ссылке
            }
        });
    });
});
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_h_1jeKRznTw-D4t4WUFR8nJBBAZ6Tsg&callback=initMap">
</script>

<script>
   function initMap() {
      // Центр карты (например, координаты Москвы)
      var center = {lat: 55.7558, lng: 37.6173};

      // Создаем карту
      var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 10,
         center: center
      });

      // Массив с координатами магазинов
      var stores = [
         {lat: 55.7558, lng: 37.6173},  // Магазин 1
         {lat: 55.7512, lng: 37.6184},  // Магазин 2
         // Добавьте больше магазинов
      ];

      // Добавляем маркеры на карту
      stores.forEach(function(location) {
         new google.maps.Marker({
            position: location,
            map: map
         });
      });
   }
</script>

</body>
</html>