/* Шрифты */
@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'LegendeC';
  src: url('../fonts/LegendeC Plain.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../fonts/NeoSansPro-Ultra.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* Applying the font to the body */
body {
    font-family: 'Cuprum', 'NeoSansPro', sans-serif;
}
/* Шрифты */

header {
    background-image: url('../images/mgroup24_corner2.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto; /* Размер по умолчанию, можно использовать cover или contain */
}

/* Навигация */
#navbarNav *  {
    font-family: 'NeoSansPro';
    }
/* Навигация */







/* стиль кнопки submit */
.btn-custom {
    text-decoration: none;
    background-color: #035199; /* Зеленый цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.btn-custom:hover {
    background-color: #02417A; /* Цвет фона при наведении */
}

.btn-custom:active {
    background-color: #023563; /* Цвет фона при нажатии */
}

.btn-custom:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}
/* стиль кнопки submit */

/* стиль для секции обратной связи */

#callback {
    background-color: #f8f9fa; /* Светлый фон */
}

#callback .btn {
    margin-top: 10px; /* Отступ сверху для кнопки */
}
/* стиль для секции обратной связи */


/* Открываем выпадающее меню при наведении */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Для того, чтобы выпадающее меню было плавным */
.nav-item.dropdown .dropdown-menu {
    display: none;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item {
        margin-left: 30px;
}

.nav-list {
margin-bottom: 200px
}

.my-pagination .page-link {
    color: #035199;
    background-color: #fff; /* белый */
    padding: 10px 15px;
    border-color: #035199;
}

.my-pagination .page-link:hover {
    background-color: #078BFF50; /* Цвет при наведении */
}

.my-pagination .active .page-link {
    background-color: #035199; /* синий фон для активной кнопки */
    color: #fff;
    border: none;
}

.my-pagination .focus .page-link {
    background-color: #4c4c4c; /* синий фон для активной кнопки */
    color: #fff;
    border: 1px solid #035199;
}

/* about */
.text-indent {
        text-indent: 30px; /* Задаем отступ для красной строки */
    }
/* about */


/* landing */
.my-carousel .carousel-item {
    height: 400px; /* Фиксированная высота для каждого элемента карусели */
    overflow: hidden; /* Обрезаем содержимое, выходящее за границы */
    box-sizing: border-box; /* Учитываем отступы и границы в размере */
}

.my-carousel .carousel-item img {
    width: 100%; /* Заполняем всю ширину контейнера */
    height: 100%; /* Заполняем всю высоту контейнера */
    object-fit: cover; /* Обрезаем изображение, сохраняя пропорции */
    object-position: center; /* Центрируем изображение */
}

/* Убедитесь, что у карусели нет лишних отступов */
.my-carousel .carousel {
    margin-top: 150; /* Убираем лишние отступы */
    padding: 0; /* Убираем лишние отступы */
    width: 100%; /* Ширина карусели */
}

/* landing */


/* footer */
.footer{
    background-color: #343434;
}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
    padding-bottom: 5px;
}

.footer-icons i {
    font-size: 32px;
    margin: 7px;
}

.footer-icons i:hover {
    transform: scale(1.2);
}

.footer-icons a:nth-child(1) i:hover {
    color: #3b5998; /* Facebook синий */
}

.footer-icons a:nth-child(2) i:hover {
    color: #FF0000; /* YouTube красный */
}

.footer-icons a:nth-child(3) i:hover {
    color: #E1306C; /* Instagram розовый */
    }

.footer-icons a:nth-child(4) i:hover {
    color: 	#24A1DE; /* telegram blue */
    }
/* footer */


/* project carusel */
#projects .card img {
  height: 400px;
  object-fit: cover; /* Чтобы изображение красиво вписывалось в карточку */
}

#projects .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* project carusel */






