
/* Открываем выпадающее меню при наведении */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Для того, чтобы выпадающее меню было плавным */
.nav-item.dropdown .dropdown-menu {
    display: none;
    transition: all 0.3s ease-in-out;
}


.navbar-nav .nav-item {
        margin-left: 30px; /* Увеличьте значение по своему усмотрению */
    }

.nav-list {
margin-bottom: 200px
}

.my-pagination .page-link {
    color: #035199;
    background-color: #fff; /* белый */
    padding: 10px 15px;
    border-color: #035199;
}

.my-pagination .page-link:hover {
    background-color: #078BFF50; /* Цвет при наведении */
}

.my-pagination .active .page-link {
    background-color: #035199; /* синий фон для активной кнопки */
    color: #fff;
    border: none;
}

.my-pagination .focus .page-link {
    background-color: #4c4c4c; /* синий фон для активной кнопки */
    color: #fff;
    border: 1px solid #035199;
}


/* footer */
.footer{
    background-color: #343434;
}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
    padding-bottom: 5px;
}

.footer-icons i {
    font-size: 32px;
    margin: 7px;
}

.footer-icons i:hover {
    transform: scale(1.2);
}

.footer-icons a:nth-child(1) i:hover {
    color: #3b5998; /* Facebook синий */
}

.footer-icons a:nth-child(2) i:hover {
    color: #FF0000; /* YouTube красный */
}

.footer-icons a:nth-child(3) i:hover {
    color: #E1306C; /* Instagram розовый */
    }

.footer-icons a:nth-child(4) i:hover {
    color: 	#24A1DE; /* telegram blue */
    }
/* footer */

